/*-------------------------------------------
ログイン画面
-------------------------------------------*/

// component
.form {
    @media (640px <= width) {
        text-align: center;
    }

    &-content {
        @media (640px <= width) {
            display: block;
            margin: 0 auto;
        }
    }
}

// project
.form-content {
    @media (640px <= width) {
        width: 70%;
        margin-top: 40px;
        padding: 40px 0 60px;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    .login-content {
        @media (640px <= width) {
            height: 60px;
            width: 70%;
            padding: 15px 12px;
            margin-bottom: 30px;
            border: none;
            border-radius: 8px;
        }
    }

    .login-btm {
        @media (640px <= width) {
            height: 10%;
            width: 60%;
            background-color: aquamarine;
            border: none;
            border-radius: 100px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
    }
}

.login-regist {
    @media (640px <= width) {
        margin: 60px 0;
    }

    &-text {
        @media (640px <= width) {
            margin-top: 40px;
            height: 10%;
            width: 40%;
            background-color: white;
            border-color: aquamarine;
            border-radius: 100px;
            font-size: 20px;
        }
    }
}
